In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../data/000015', index_col= 'Date', names=['Date', 'Open', 'Close', 'High', 'Low', 'Volume', 'Money', 'PE', 'PB'], header=None)

# Basic indexing

In [19]:
df_prices = df[['Close', 'High', 'Low']]
   
series_close = df['Close']
close_of_a_day = series_close['2010-01-04']
close_of_a_day

# can't get row of dataframe like:
try:
    df_prices['2010-01-04']
except KeyError:
    pass

## Accessing attributes using dot operator

In [4]:
df.Close

# select by specifying column indexes
df[[1, 2]]

                Close       High
Date
2010-01-04  2777.1940  2831.8680
2010-01-05  2814.0500  2818.8180
2010-01-06  2796.7760  2841.5970
2010-01-07  2726.5180  2810.6950
2010-01-08  2730.0150  2734.9920
2010-01-11  2737.0080  2841.8780
2010-01-12  2779.8700  2781.0190
2010-01-13  2676.1590  2734.9640
2010-01-14  2710.1650  2714.0530
2010-01-15  2715.0440  2735.2300
2010-01-18  2729.3280  2731.1730
2010-01-19  2734.9980  2760.5960
2010-01-20  2644.7950  2746.6010
2010-01-21  2658.0900  2672.5840
2010-01-22  2651.0500  2667.6380
2010-01-25  2603.1500  2655.9570
2010-01-26  2550.5410  2614.5730
2010-01-27  2510.9070  2558.0210
2010-01-28  2501.3140  2520.3410
2010-01-29  2494.0040  2525.1990
2010-02-01  2452.0280  2489.2940
2010-02-02  2449.4990  2496.6120
2010-02-03  2517.0900  2519.0160
2010-02-04  2502.1260  2522.5860
2010-02-05  2452.1540  2469.4140
2010-02-08  2448.3960  2464.0260
2010-02-09  2465.3290  2472.6570
2010-02-10  2489.7530  2490.9280
2010-02-11  2494.7580  2506.6440
2010-02-12  2524.9320  2525.7100
...               ...        ...
2017-01-23  2647.8726  2660.5088
2017-01-24  2661.9379  2666.4599
2017-01-25  2668.2475  2669.0140
2017-01-26  2670.1766  2679.7922
2017-02-03  2649.0895  2672.0200
2017-02-06  2656.2721  2663.0398
2017-02-07  2657.9049  2661.9107
2017-02-08  2664.1248  2664.7232
2017-02-09  2674.0048  2681.7607
2017-02-10  2691.6779  2694.1778
2017-02-13  2699.7981  2702.7689
2017-02-14  2693.6041  2701.9661
2017-02-15  2703.5778  2722.2935
2017-02-16  2713.3810  2713.6642
2017-02-17  2692.2675  2713.5393
2017-02-20  2732.2493  2733.2605
2017-02-21  2734.9775  2748.4323
2017-02-22  2748.2409  2748.5900
2017-02-23  2738.5205  2752.1255
2017-02-24  2733.4987  2734.3375
2017-02-27  2716.4020  2734.1833
2017-02-28  2725.0809  2727.4703
2017-03-01  2725.2886  2738.3028
2017-03-02  2712.4448  2732.9222
2017-03-03  2711.2365  2711.8553
2017-03-06  2714.3481  2720.3037
2017-03-07  2715.2207  2715.7575
2017-03-08  2710.9630  2714.8477
2017-03-09  2690.4317  2704.8874
2017-03-10  2688.9689  2693.3409

[1744 rows x 2 columns]

## Range slicing

The synttax of the slicing operator exactly matches that of NumPy:

```python
ar[startIndex: endIndex: stepValue]
```

where the default values if not specified are as follows:

* 0 for startIndex
* arraysize-1 for endIndex
* 1 for stepValue

# Label, integer and mixed indexing

* The `.loc` operator: Allows label-oriented indexing
* The `.iloc` operator: Allows integer-based indexing
* The `.ix` operator: Allows mixed label and integer-based indexing

## Label-oriented indexing

The `.loc` operator supports pure label-based indexing. It accepts the following as valid inputs:

* A single label.
* List or array of labels.
* A slice object with labels.
* A Boolean array.

In [12]:
df.loc['2010-01-04']

# follows are same
df.loc['2010-01-04', 'Close']
df.loc['2010-01-04']['Close']
df['Close']['2010-01-04']

df.loc[['2010-01-04', '2010-01-05']]
df.loc['2010-01-04': '2010-02-05']

2777.1940000000004

### Selection using a Boolean array

In [21]:
df.loc[df['Close'] <= df['Close'].min(),:]

,Open,Close,High,Low,Volume,Money,PE,PB
Date,,,,,,,,
2014-03-10,1612.96,1574.927,1612.96,1571.858,1.720594e+09,1.081296e+10,1.079408,8.262363

## Integer-oriented indexing

The `iloc` operator supports integer-based positional indexing. It accepts the following as inputs:

* A single integer.
* A list or array of integers.
* A slice object with integers.

In [25]:
df.iloc[0:10,]

,Open,Close,High,Low,Volume,Money,PE,PB
Date,,,,,,,,
2010-01-04,2827.015,2777.194,2831.868,2776.921,1.254720e+09,1.268410e+10,2.781231,18.605709
2010-01-05,2784.758,2814.050,2818.818,2758.519,1.565152e+09,1.721470e+10,2.814130,18.799683
2010-01-06,2807.629,2796.776,2841.597,2795.723,1.419338e+09,1.609586e+10,2.779297,18.604318
2010-01-07,2794.445,2726.518,2810.695,2718.568,1.462168e+09,1.545393e+10,2.701644,18.194545
2010-01-08,2716.810,2730.015,2734.992,2692.330,1.078874e+09,1.186071e+10,2.683593,18.202034
2010-01-11,2841.878,2737.008,2841.878,2725.159,1.792579e+09,1.753535e+10,2.753622,18.293331
2010-01-12,2730.648,2779.870,2781.019,2703.055,1.808328e+09,1.965949e+10,2.794849,18.623318
2010-01-13,2713.191,2676.159,2734.964,2670.343,2.362136e+09,2.390553e+10,2.677216,17.971852
2010-01-14,2689.674,2710.165,2714.053,2668.390,1.472739e+09,1.595232e+10,2.698310,18.165844
2010-01-15,2710.085,2715.044,2735.230,2688.013,1.310731e+09,1.399946e+10,2.706514,18.207546

## Mixed indexing with the .ix opeator

The `.ix` operator behaves like a mixture of the `.loc` and `.iloc` operators, with the `.loc` behavior taking precedence. It takes the following as possible inputs:

* A single label or integer
* A list of integers or labels
* An integer slice or label slice
* A Boolean array

In [38]:
df.ix['2010-01-04']
df.ix[['2010-01-04', '2010-01-05']]
df.ix[df.index[-3:]]
df.ix[0]
df.ix[[0, 2]]
df.ix[1: 3]
df.ix[df['Close'] > 4044.6640]

,Open,Close,High,Low,Volume,Money,PE,PB
Date,,,,,,,,
2015-06-08,3996.8490,4057.6690,4068.5510,3945.5340,2.461590e+10,2.162356e+11,2.093590,20.732199
2015-06-09,4060.8198,4065.4939,4079.1026,3986.7427,2.150091e+10,1.917661e+11,2.070661,20.563958
2015-06-10,4004.7100,4050.1590,4096.8410,3968.4880,1.343058e+10,1.290385e+11,2.056192,20.386042
2015-06-11,4041.8150,4049.5530,4056.4150,3996.2740,1.132104e+10,1.076900e+11,2.104816,20.380379
2015-06-12,4073.4350,4144.6640,4144.6640,4073.4350,1.362596e+10,1.368981e+11,2.108937,20.522397
2015-06-15,4158.6450,4129.6380,4195.2050,4105.0450,1.383280e+10,1.366471e+11,2.047086,20.098160
2015-06-17,3978.3980,4064.6770,4074.2250,3855.7470,1.418967e+10,1.319784e+11,2.016946,19.622117